.slider{
    width: 100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: $accentColor; /* Grey background */
    outline: none; /* Remove outline */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

